* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  font-family: Lato, sans-serif;
  line-height: normal;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.top {
  overflow: hidden;
}

.background_head {
  position: relative;
  background-color: #222;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header_logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 41px;
}
.header_nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 33px;
}
.header_nav img {
  cursor: pointer;
}

#check {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

#check:checked ~ .menu {
  right: 0px;
}

.menu {
  position: fixed;
  top: 75px;
  right: -232px;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  background-color: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: right 1s;
  z-index: 1000;
}
.menu_heading {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}
.menu_subheading {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 12px;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style-type: none;
  padding-left: 20px;
}
.menu_link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.menu_link:hover {
  color: #F16D7F;
}

.basket {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.cart_count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #F16D7F;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
}
.top-head-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-weight: 400;
  font-size: 24px;
  color: #F16D7F;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs_box:last-child .breadcrumbs__link {
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumbs_box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}

.carousel_background {
  background-color: #F7F7F7;
  padding-top: 11px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel_background_arrow {
  width: 47px;
  height: 47px;
}
.carousel_background_photo {
  width: 597px;
}

.carousel_description {
  margin-top: -45px;
  text-align: center;
  border: 3px solid #F7F7F7;
  background-color: #FFF;
}
.carousel_description_h2 {
  padding-top: 64px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
}
.carousel_description_h1 {
  padding-top: 12px;
  padding-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 400;
}
.carousel_description_p {
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 400;
}
.carousel_description_p_price {
  padding-top: 32px;
  padding-bottom: 65px;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.carousel_description_a {
  padding-top: 65px;
  padding-bottom: 48px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 23px;
}
.carousel_description_a_color {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  color: #6F6E6E;
}
.carousel_description_btn {
  color: #F26376;
  padding-bottom: 64px;
  width: 212px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 23px;
}
.carousel_description_btn a {
  color: #F26376;
  padding: 12px 30px;
  border: 2px solid #FF6A6A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 23px;
}
.carousel_description_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel_description_text_btn {
  font-size: 16px;
  font-weight: 400;
}
.carousel_description_btn a:hover {
  background-color: #F16D7F;
}
.carousel_description_btn a:hover .carousel_description_text_btn {
  background-color: #F16D7F;
  color: #FFF;
}
.carousel_description_btn a:hover path {
  fill: #FFF;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}
.items__space {
  margin-top: 128px;
  margin-bottom: 128px;
}

.item {
  position: relative;
}
.item img {
  display: block;
  width: 100%;
}
.item_image_wrapper {
  position: relative;
  display: block;
  width: 100%;
  background-color: #F7E4E2;
}
.item_image_wrapper:hover .item_cart {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.item_cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_cart_text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_cart_text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.item_cart img {
  width: 26px;
}
.item_cart a {
  text-decoration: none;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 11px;
  border: 2px solid #FFF;
  padding: 11px 14px;
}
.item_product {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #F8F8F8;
}
.item_title {
  margin-bottom: 16px;
  padding-left: 16px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.item_text {
  width: 313px;
  padding-left: 16px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}
.item_price {
  margin-top: 16px;
  padding-left: 16px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.buttons {
  text-align: center;
}

.item_btn {
  margin-top: 48px;
  margin-bottom: 94px;
  padding: 15px 39px;
  background-color: transparent;
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: 2px solid #FF6A6A;
}
.item_btn:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.about {
  position: relative;
  height: 448px;
}
.about_fill_img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
}
.about_items {
  padding-top: 97px;
  padding-bottom: 146px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about_item_1 {
  width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.about_text {
  margin-bottom: 30px;
  color: #222224;
  font-size: 20px;
  font-weight: 400;
}
.about_text_cont {
  color: #222224;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}
.about_item_2 {
  width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about_title {
  margin-bottom: 2px;
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.about_item_subtitle {
  margin-bottom: 39px;
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
}

.input-group {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  background: #E1E1E1;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.item_input {
  background-color: #E1E1E1;
  border: none;
  outline: none;
  padding-left: 20px;
}

.btn {
  border-radius: 0 40px 40px 0;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #F16D7F;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  text-align: center;
}
.btn:hover {
  color: #F16D7F;
  background-color: #222;
  transition: background-color 0.3s ease;
}

.author {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, 31px);
  gap: 10px;
}
.socials_icon {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.socials_icon:hover {
  background-color: #F16D7F;
}
.socials_icon:hover path {
  fill: #FFF;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .carousel_background_photo {
    width: 466px;
  }
  .items {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .item_last {
    display: none;
  }
  .about {
    position: relative;
    height: 614px;
    overflow: hidden;
  }
  .about_fill_img {
    position: absolute;
    width: 100%;
    height: 120%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 25% center;
       object-position: 25% center;
    top: -8%;
  }
  .about_items {
    padding-top: 64px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .about_item_subtitle {
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .sing_up,
  .basket {
    display: none;
  }
  .top-head {
    padding-top: 24px;
    padding-bottom: 46px;
  }
  .top-head-flex {
    flex-direction: column;
    gap: 32px;
  }
  .carousel_background_arrow {
    width: 31px;
    height: 31px;
  }
  .carousel_background_photo {
    width: 374px;
  }
  .carousel_description {
    margin-top: 0;
  }
  .carousel_description_h1 {
    padding-top: 12px;
    padding-bottom: 31px;
  }
  .carousel_description_p_price {
    padding-top: 32px;
    padding-bottom: 31px;
  }
  .carousel_description_p_price_svg {
    width: 175px;
  }
  .carousel_description_a {
    padding-top: 49px;
    padding-bottom: 64px;
    font-size: 10px;
    gap: 25px;
  }
  .items {
    grid-template-columns: repeat(1, 360px);
    gap: 16px;
  }
  .item_second {
    display: none;
  }
  .item_last {
    display: inherit;
  }
  .item_image_wrapper {
    box-sizing: border-box;
  }
  .item_image_wrapper img {
    width: 100%;
    display: block;
  }
  .item_cart img {
    width: 26px;
  }
  .item_product {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 19px;
  }
  .item_title {
    margin-bottom: 12px;
  }
  .item_price {
    margin-top: 17px;
  }
  .item_btn {
    margin-top: 55px;
  }
  .about {
    position: relative;
    height: 620px;
    overflow: hidden;
  }
  .about_fill_img {
    position: absolute;
    width: 100%;
    height: 110%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 27% center;
       object-position: 27% center;
    top: -10%;
  }
  .about_items {
    padding-top: 64px;
    padding-bottom: 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 59px;
  }
  .about_item_subtitle {
    margin-bottom: 22px;
  }
  .container_items {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .author {
    padding-top: 43px;
    padding-bottom: 9px;
  }
}/*# sourceMappingURL=product.css.map */